@font-face {
    font-family: Trade Gothic;
    src: url(font/TradeGothicLTStd-Cn18.otf);
}

body {
    background-image: url('images/AutoEverywhere_Background.png');
    font-family: "Trade Gothic", serif;
}

#content {
    align-content: center;
}

#header {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 4%;
}