* {
    margin: 0;
    padding: 0;
    background-color: white;
 }
 
 body, html {
    height: 100%;
    overflow: hidden;
 }

 #info, #msg {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
 }
 
 canvas {
    position:relative;
 }
 
 #depth {
     width: 100%;
     position:absolute;
 }
 #wrapper {
    position:relative;
 }
 
