# Ignore node_modules directory
node_modules

# Ignore build output directory
build

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables file
.env

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore Git files
.git
.gitignore

# Ignore miscellaneous files
.DS_Store