# Move to /etc/systemd/system/pong.service
# Run the following:
# ```
# sudo systemctl daemon-reload
# sudo systemctl enable pong.service
# sudo systemctl start pong.service
# ```

[Unit]
Description=Discovery World Pong Startup Script
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/bin/bash -c 'cd /opt/pong && su -c /opt/pong/setup/open_windows.sh dwpong'
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=DWPong

[Install]
WantedBy=multi-user.target
