[Desktop Entry]
Type=Application
Terminal=true
Name=Pong Stop
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c 'cd /opt/pong/setup && ./close_windows.sh;$SHELL'"
Categories=Application;
