[Desktop Entry]
Type=Application
Terminal=true
Name=Pong Start
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c 'cd /opt/pong/setup && ./open_windows.sh;$SHELL'"
Categories=Application;
