.App {
  background-image: url('imgs/AutoEverywhere_Background.svg');
  background-size: contain;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevents scrolling */
}
